nav {
    background-color: #000030 !important;
}

.eventos {
    height: 100px;
}

section {
    padding-top: 50px;
    margin: 10px;
}

.brand-logo {
    margin-left: 20px;
    
}

#logo {
    width: 31%;
}

.page-footer {
    background-color: #000030 !important; 
}

.carrossel {
    background-image: url("../download.jpeg");
}

.margin {
    margin: 10px;
}