nav {
    background-color: #000030 !important;
}

.eventos {
    height: 100px;
}

section {
    padding-top: 50px;
    margin: 10px;
}

.brand-logo {
    margin-left: 20px;

}

#logo {
    width: 31%;
}

.page-footer {
    background-color: #000030 !important;
}

.carrossel {
    background-image: url("../download.jpeg");
}

.margin {
    margin: 10px;
}

.slick-prev:before {
    color: black;
}

.slick-next:before {
    color: black;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #430001;
}

.secoes {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.newsletter-content {
    position: absolute;
    left: 0;
    top: 32%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#newsletter {
    position: relative;
}

.input-field {
    margin: auto !important;
    max-width: 40% !important;
    position: absolute !important;
    left: 300px !important;
    top: 100% !important;
    width: 100% !important;
    
}


.submit {
    background-color: #430001 !important;
}

section {
    padding-bottom: 50px;
}