nav {
    background-color: #1E027A !important;
}

.eventos {
    height: 100px;
}

section {
    padding-top: 50px;
    margin: 10px;
}

.brand-logo {
    margin-left: 20px;
    
}

#logo {
    width: 30%;
}

.page-footer {
    background-color: #1E027A !important; 
}

