.textomaneiro{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
}
nav {
    background-color: #1E027A !important;
}
.integrantes{
    width: 10px;

}

.brand-logo {
    margin-left: 20px;
    
}